<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
    <span class="username">Welcome to the Landlord Dashboard, {{data.FirstName}}!</span>
</div>

<h2>Landlord Dashboard</h2>

<div class="row">

  <div class="dashContainer">

    <form id="dashForm">
      <div class="btnContainer">
        <a class="button" id="dashButton" href="javascript:showonlyone('worktickets');">Worktickets</a>
        <a class="button" id="dashButton" href="javascript:showonlyone('notifications');">Manage Notifications</a>
        <a class="button" id="dashButton" href="/logout">Logout</a>
      </div>
    </form>
      
    <div class="contentHolder">

      <div class="newboxes" id="worktickets">
        <div class="tickets">
          <table>
            <tr>
              <th>Workticket ID</th>
              <th>UserID</th>
              <th>Subject</th>
              <th>Message</th>
              <th>Status</th>
            </tr>
            {{#each wt}}<tr><td>{{this.WorkticketID}}</td><td>{{this.UserID}}</td><td>{{this.Subject}}</td><td>{{this.Message}}</td><td>{{this.Status}}</td></tr>{{/each}}
          </table>
        </div>
 
        <div class="createTicket">
          <form id="ticketForm" name="ticketForm" method="post" action="/push-workticket">
            <div class="form-group">
              <label class="title" for="title">Title:</label>
              <input type="text" class="form-control" id="title" name="subject">
              <br />
              <label for="body">Describe the problem:</label>
              <textarea class="form-control" rows="10" id="body" name="message"></textarea>
              <div class="form-group">
                <label for="category">Select Category:</label>
                <select class="form-control" id="category" name="category">
                  <option value="Maintainence">Maintainence</option>
                  <option value="Miscellaneous">Emergency</option>
                  <option value="Miscellaneous">Miscellaneous</option>
                </select>
              </div>
              <br />
              <button type="submit" class="btn btn-success submit">Submit</button>
            </div>
          </form>
        </div>

      </div>

      <div class="newboxes" id="notifications">

        <div class="notifications">
          {{!-- <table>
            <tr>
              <th>Notification ID</th>
              <th>Message</th>
              <th>Status</th>
              <th>Date Created</th>
            </tr>
          </table> --}}
          <table>
            <tr>
              <th>NotificationID</th>
              <th>PropertyID</th>
              <th>Message</th>
              <th>Expiration</th>
              <th>Created</th>
            </tr>
            {{#each nt}}<tr><td>{{this.NotificationID}}</td><td>{{this.PropertyID}}</td><td>{{this.Message}}</td><td>{{this.Expiration}}</td><td>{{this.createdAt}}</td></tr>{{/each}}
          </table>
        </div>

        <div class="createNotification">
          <form id="notificationForm" name="notificationForm" method="post" action="/push-notification">
            <div class="form-group">
              <label class="title" for="title">Property:</label>
              <input type="text" class="form-control" id="title" name="property">
              <br />
              <label for="body">Message:</label>
              <textarea class="form-control" rows="10" id="body" name="message"></textarea>
              <label class="title" for="expires">Expected Completion:</label>
              <input type="date" class="form-control" id="expires" name="expires">
              <div class="form-group">
                <label for="category">Select Category:</label>
                <select class="form-control" id="category" name="category">
                  <option value="Maintainence">Maintainence</option>
                  <option value="Miscellaneous">Emergency</option>
                  <option value="Miscellaneous">Miscellaneous</option>
                </select>
              </div>
              <br />
              <button type="submit" class="btn btn-success submit">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  function showonlyone(thechosenone) {
      $('.newboxes').each(function(index) {
            if ($(this).attr("id") == thechosenone) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
      });
  }
</script>
