<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
    <span class="username">Welcome to the Landlord Dashboard, {{data.FirstName}}!</span>
</div>

  <h2>Landlord Dashboard</h2>
  
  <div class="testing-container">
    <span>CSS is located in style.css, referenced in main.handlebars</span>
    <span>'data' object is pulled from authcontroller.js</span>
    <span>UserID [{{data.UserID}}] can be used to query data specific to {{data.UserName}} from other tables.</span>
    <span>Query:</span>
    <table>
      <tr>
        <th>WorkticketID</th>
        <th>UserID</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Status</th>
        <th>Start Date</th>
      </tr>
      {{#each qry}}<tr><td>{{this.WorkticketID}}</td><td>{{this.UserID}}</td><td>{{this.Subject}}</td><td>{{this.Message}}</td><td>{{this.Status}}</td><td>{{this.createdAt}}</td></tr>{{/each}}
    </table>
  </div>

  <div class="row">

      <div class="dashContainer">
        <form id="dashForm">
          <div class="btnContainer">
            <a class="button" id="dashButton" href="javascript:showonlyone('worktickets');">Worktickets</a>
            <a class="button" id="dashButton" href="javascript:showonlyone('notifications');">Manage Notifications</a>
            <a class="button" id="dashButton" href="javascript:showonlyone('properties');">Manage Properties</a>
            <a class="button" id="dashButton" href="/logout">Logout</a>
          </div>
        </form>

        <div class="newboxes" id="worktickets">WORKTICKETS</div>
        <div class="newboxes" id="notifications">NOTIFICATIONS</div>
        <div class="newboxes" id="properties">PROPERTIES</div>

      </div>

<div class = "background-image">
    <img class= "workticket-background" src ="static/images/backgroundimage.png">
  </div>

  </div>

<script>

  function showonlyone(thechosenone) {
      $('.newboxes').each(function(index) {
            if ($(this).attr("id") == thechosenone) {
                $(this).show(200);

                if($(this).attr("id") === "worktickets") {
                  // Do nothing
                } else {
                  window.location.href= "/dashboard/" + $(this).attr("id");
                }
               
            }
            else {
                $(this).hide(600);
            }
      });
  }

</script>
