<div class = "nav">
    <img class = "logo" src = "static/images/kubologo.png">
    <span class="username">Welcome to the Landlord Dashboard, {{data.FirstName}}!</span>
</div>

  <h2>Landlord Dashboard</h2>
  
  <div class="testing-container">
    <span>CSS is located in style.css, referenced in main.handlebars</span>
    <span>'data' object is pulled from authcontroller.js</span>
    <span>UserID [{{data.UserID}}] can be used to query data specific to {{data.UserName}} from other tables.</span>
    <span>Query:</span>
    <table>
      <tr>
        <th>PropertyID</th>
        <th>Property Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Created</th>
      </tr>
      {{#each qry}}<tr><td>{{this.PropertyID}}</td><td>{{this.PropertyName}}</td><td>{{this.Address}}</td><td>{{this.City}}</td><td>{{this.State}}</td><td>{{this.Zipcode}}</td><td>{{this.createdAt}}</td></tr>{{/each}}
    </table>
  </div>

  <div class="row">

      <div class="dashContainer">
        <form id="dashForm">
          <div class="btnContainer">
            <a class="button" id="dashButton" href="javascript:showonlyone('worktickets');">Worktickets</a>
            <a class="button" id="dashButton" href="javascript:showonlyone('notifications');">Manage Notifications</a>
            <a class="button" id="dashButton" href="javascript:showonlyone('properties');">Manage Properties</a>
            <a class="button" id="dashButton" href="/logout">Logout</a>
          </div>
        </form>

        <div class="newboxes" id="worktickets">WORKTICKETS</div>
        <div class="newboxes" id="notifications">NOTIFICATIONS</div>
        <div class="newboxes" id="properties">PROPERTIES</div>

      </div>



  </div>

<script>

  function showonlyone(thechosenone) {
      $('.newboxes').each(function(index) {
            if ($(this).attr("id") == thechosenone) {
                $(this).show(200);
            }
            else {
                $(this).hide(600);
            }
      });
  }

</script>
